* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: #363636;
    /* font-family: 'Roboto', sans-serif; */
    font-family: BlinkMacSystemFont, -apple-system, 'Opens Sans', Helvetica Neue, Helvetica, Fira Sans, Noto, Droid Sans, Cantarell, Oxygen, Ubuntu, Franklin Gothic Medium, Century Gothic, Liberation Sans, sans-serif;
    user-select: none;
}