<link rel="stylesheet" href="/css/welcome/index.css">

<div id="welcome">

    <div id="avatar">
        <img src="/img/welcome/icon_staff.svg">
    </div>
    
    <div id="pos_name">
        Trà Chanh Cơm Cháy. Xin kính chào bạn.
    </div>

    <div id="customer_name">
        <div id="message">
            Mời bạn nhập tên để nhà hàng phục vụ bạn nhanh chóng hơn, chính xác hơn
        </div>

        <div id="name">
            <input maxlength="18" placeholder="Tên của bạn" type="text" >
        </div>
    </div>
    
    <div id="submit">
        <button>
            Bắt đầu
        </button>
    </div>

</div>

<script src="/js/welcome/index.js" type="module"></script>