<link rel="stylesheet" href="/css/home/index.css">

<div id="home">
    <div id="name">
        Trà chanh cơm cháy
    </div>

    <div id="address">
        <img src="/img/home/icon_marker.svg">
        <div>268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh, Việt Nam</div>
    </div>

    <div id="slider">
        <img src="/img/home/background1.jpg">
    </div>

    <div id="greeting">
        Chào buổi tối
        <span style="color: rgb(5, 96, 166);">{{name}}</span>
        <div>Rất hân hạnh được phục vụ Quý Khách</div>
    </div>

    <div id="interaction">
        <div class="btn" id="one">
            <img src="/img/home/request_payment.svg">
            <div>Gọi thanh toán</div>
        </div>

        <div class="btn" id="two">
            <img src="/img/home/request_service.svg">
            <div>Gọi nhân viên</div>
        </div>

        <div class="btn" id="three">
            <img src="/img/home/rate.svg">
            <div>Lịch sử đơn hàng</div>
        </div>
    </div>

    <div id="menu">
        <img src="/img/home/menu.svg">
        <div>Xem Menu - Gọi Món</div>
    </div>

    <div id="notice">
        <img src="/img/home/notification.png" alt="">
    </div>
</div>

<script src="/js/home/index.js" type="module"></script>